.banner-principal-decorativo
  &-1
    animation: rotation 70s infinite linear
    position: absolute
    top: 8%
    right: 8%
  &-2
    animation: float1 9s ease-in-out infinite alternate
    position: absolute
    top: 58%
    right: 20%

@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

//Tema 1

.bloque-texto-g 
  position: relative
  display: flex
  justify-content: flex-start

.bloque-texto-g__img 
  width: 50%
  position: absolute
  top: 0px
  left: 50%
  bottom: 0
  background-position: center
  background-size: cover

.fondo-slyder
  background-image: url('../assets/curso/temas/fondo_slyder.png')
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem

.clr-paleYellow
  background-color: #FFDFE7
  border-radius: 20px


.bloque-texto-g1 
  position: relative
  display: flex
  justify-content: flex-start

.bloque-texto-g1.color-rojo
  background-color: #A3314F

.bloque-texto-g1__img 
  width: 50%
  position: absolute
  top: 0px
  right: 50%
  bottom: 0
  background-position: center
  background-size: cover

.bloque-texto-g1__texto 
  position: relative
  width: 60%
  background-color: rgba(255, 255, 255, 0.95)
  right: -40%

.clr-paleYellow2
  background-color: #E1E4A8
  border-radius: 0px

///tema2

.color-rosa2
  background-color: #E8CBD3
  height: 400px
  @media (max-width: 1000px)
    height: auto

.fa-chevron-right:before
  content: "\f054"
  color: #fcc15a!important

.fa-chevron-left:before
  content: "\f053"
  color: #fcc15a!important

//tema3 

.form-check-input
  align-items: center
  min-width: 20px
  max-width: 20px
  min-height: 20px
  max-height: 20px
  border: 3px solid #ccc
  border-radius: 50%

.form-check .form-check-input 
  justify-content: center
  margin: auto

.tabla-a thead
  border-top: 0px solid
  color: #12263F
  background-color: #CED371

.clr-paleYellow3
  background-color: #FFDA7F
  border-radius: 0px

.linea-tiempo-d.color-linea .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #E8CBD3
  color: #12263F

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #E8CBD3

.clr-paleYellow4
  background-color: #E8CBD3
  border-radius: 20px

.clr-paleYellow5
  background-color: #FAF4F6
  border-radius: 20px

///tema6

.color-rosa3
  background-color: #E8CBD3
  height: 510px
  @media (max-width: 1000px)
    height: auto

///tema7

.tarjeta.tarjeta-azul
  background-color: #F6F6F6

.acordion__accion__btn--a
  background-color: #ffffff !important

.acordion__activo
  background-image: url('../assets/curso/temas/fondo_slyder.png')
  background-size: cover
  background-repeat: no-repeat

.titulo-principal1
  margin-bottom: 48px
  padding-bottom: 20px
  display: flex
  align-items: center

.titulo-principal1__numero 
  min-width: 27px
  height: 27px
  margin-right: 15px
  position: relative
  align-items: center

.titulo-principal1.color-acento-contenido .titulo-principal1__numero 
  background-color: #A3314F
  align-items: center

///tema8

.color-rosa4
  background-color: #E8CBD3
  height: 450px
  @media (max-width: 1000px)
    height: auto