.banner-principal-decorativo
  &-1
    animation: rotation 70s infinite linear
    position: absolute
    top: 8%
    right: 8%
  &-2
    animation: float1 5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 80%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 35%
  &-4
    animation: float2 6s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 67%
  &-5
    animation: float2 4s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 20%

@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes float2
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

//Tema 1

.color-rosa1
  background-color: #EFE0E4
  border-radius: 0px

.linea-tiempo-d.color-linea .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #EEF0CD

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #EEF0CD

.color-rosa
  background-color: #E4CDD3

.color1
  background-color: #CED371
  border-radius: 0px

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FFB500

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FFB500

.slyder-a__bullets__item--active 
  background-color: #9EA257!important
  border: none

.slyder-a__bullets__item 
  background-color: #D4D6B0

.tarjeta-slyder
  background-color: #DDDFC1

.tabla-a.color-acento-botones thead
  border-color: #ffb70000

.tabla-a thead
  border-top: 5px solid
  color: #000000
  background-color: #A3314F

.anch
  width: 378px

.anch1
  width: 118px

.anch2
  width: 138px

.anch3
  width: 94px

.fle
  width: 35px

.tarjeta-blanca
  box-shadow: 0px 5px 10px 0px #0000002b
  background-color: #ffffff
  width: 90%

.tarjeta-avatar1 > img 
  position: absolute
  left: 20%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 280px
  margin: 0 auto

.tarjeta-avatar1 
  height: 100%
  position: relative
  padding-top: 65px

.tarjeta-avatar1 .tarjeta
  display: inline-block
  padding-top: 50px !important
  height: 100%

.zul
  background-color: #DEE4F0

.titulo-principal1
  margin-bottom: 28px
  padding-bottom: 10px
  display: flex
  align-items: center

.titulo-principal1__numero 
  min-width: 27px
  height: 27px
  margin-right: 10px
  position: relative
  align-items: center

.titulo-principal1.color-acento-contenido .titulo-principal1__numero 
  background-color: #A3314F
  align-items: center

.tarjeta-gris
  box-shadow: 0px 5px 10px 0px #0000002b
  background-color: #F6F6F6
  width: 100%

.color-rosa2
  background-color: #EFE0E4

.numero
  width: 25px

.linearoja
  background-color: #A3314F

.color-avatar
  background-color: #EFF0DF

.color-rojo
  background-color: #A3314F
  border-radius: 0px

.color-rosa3
  background-color: #EFE0E4
  border-radius: 10px

.color-verde
  background-color: #CED371
  border-radius: 0px

.color-verde1
  background-color: #F5F6E2
  border-radius: 10px




