.banner-principal-decorativo
  &-1
    animation: rotation 70s infinite linear
    position: absolute
    top: 8%
    right: 8%
  &-2
    animation: float1 5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 80%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 25%
    right: 35%
  &-4
    animation: float2 6s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 67%
  &-5
    animation: float2 4s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 20%

@keyframes float1
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

@keyframes float2
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@-webkit-keyframes rotation 
  from 
    -webkit-transform: rotate(0deg)  
  to 
    -webkit-transform: rotate(359deg)

//Tema 1

.color-rosa1
  background-color: #EFE0E4
  border-radius: 0px

.linea-tiempo-d.color-linea .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
  background-color: #EEF0CD

.linea-tiempo-d__item.row.linea-tiempo-d__item--selected .linea-tiempo-d__item__content.tarjeta.tarjeta--gris
  background-color: #EEF0CD

.color-rosa
  background-color: #E4CDD3

.color1
  background-color: #CED371
  border-radius: 0px

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FFB500

.slyder-a__tipo-b .slyder-a__btn--atrs, .slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FFB500

.slyder-a__bullets__item--active 
  background-color: #9EA257!important
  border: none

.slyder-a__bullets__item 
  background-color: #D4D6B0

.tarjeta-slyder
  background-color: #DDDFC1

.tabla-a.color-acento-botones thead
  border-color: #ffb70000

.tabla-a thead
  border-top: 5px solid
  color: #000000
  background-color: #A3314F

.anch
  width: 378px

.anch1
  width: 118px

.anch2
  width: 138px

.anch3
  width: 94px

.fle
  width: 35px

.tarjeta-blanca
  box-shadow: 0px 5px 10px 0px #0000002b
  background-color: #ffffff
  width: 90%

.tarjeta-avatar1 > img 
  position: absolute
  left: 20%
  top: 0
  transform: translateX(-50%)
  display: block
  width: 280px
  margin: 0 auto

.tarjeta-avatar1 
  height: 100%
  position: relative
  padding-top: 65px

.tarjeta-avatar1 .tarjeta
  display: inline-block
  padding-top: 50px !important
  height: 100%

.zul
  background-color: #DEE4F0

.titulo-principal1
  margin-bottom: 28px
  padding-bottom: 10px
  display: flex
  align-items: center

.titulo-principal1__numero 
  min-width: 27px
  height: 27px
  margin-right: 10px
  position: relative
  align-items: center

.titulo-principal1.color-acento-contenido .titulo-principal1__numero 
  background-color: #A3314F
  align-items: center

.tarjeta-gris
  box-shadow: 0px 5px 10px 0px #0000002b
  background-color: #F6F6F6
  width: 100%

.color-rosa2
  background-color: #EFE0E4

.numero
  width: 25px

.linearoja
  background-color: #A3314F

.color-avatar
  background-color: #EFF0DF
  height: auto

.color-rojo
  background-color: #A3314F
  border-radius: 0px

.color-rosa3
  background-color: #EFE0E4
  border-radius: 10px

.color-verde
  background-color: #CED371
  border-radius: 0px

.color-verde1
  background-color: #F5F6E2
  border-radius: 10px

.color-verde2
  background-color: #7B7E43

.tarjeta.tarjeta-azul
  background-color: #F0F2D4

.acordion__accion__btn--a
  background-color: #ffffff !important

.acordion__activo
  background-color: #E1E4A8 !important

///Tema3

.fondo
  background-image: url('../assets/curso/tema3/fondo.jpg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #ffffff !important

.anch4
  width: 180px

.lineagris
  background-color: #AFAFAF

.color-amarillo
  background-color: #F0F2D4
  border-radius: 0px

.color-naranja
  background-color: #FEE6AB
  border-radius: 0px

.clr-paleYellow 
  background-color: #F0F2D4

.rosa   
  background-color: #E2BFC8
  border-radius: 20px

.crd--avatarHorizontal
  position: relative
  padding-right: 4rem
  & > *
    position: relative
  p 
    margin-bottom: 0
  &::before  
    position: absolute 
    content: ''
    top: 17%
    right: 0
    width: calc( 100% - 100px)
    height: 75%
    background-color: #EFE0E4
    border-radius: 20px

  @media (max-width: 1000px)
    padding-right: 2rem

.img1
  width: 306px
  @media (max-width: 1000px)
    width: auto

.color-tarjeta
  background-color: #F0F2D4
  width: 328px
  height: auto
  @media screen and ( max-width: 1400px )
    background-color: #F0F2D4
    width: 270px
    height: auto
  @media screen and ( max-width: 1200px )
    background-color: #F0F2D4
    width: 330px
    height: auto
  @media screen and ( max-width: 999px )
    background-color: #F0F2D4
    width: 520px
    height: auto
  @media screen and ( max-width: 800px )
    background-color: #F0F2D4
    width: 410px
    height: auto
  @media screen and ( max-width: 600px )
    background-color: #F0F2D4
    width: 400px
    height: auto
  @media screen and ( max-width: 500px )
    background-color: #F0F2D4
    width: 290px
    height: auto
  @media screen and ( max-width: 400px )
    background-color: #F0F2D4
    width: 255px
    height: auto

///tema4

.colordescarga
  background-color: #F4F6DD

.rosa1
  background-image: url('../assets/curso/tema4/fondo.png')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 20px
  @media (max-width: 1000px)
    background-image: none
    background-color: #EFE0E4 !important

.color-amarillo2
  background-color: #F0F2D4
  border-radius: 20px

.anch5
  width: 380px

///tema6

.fondo2
  background-image: url('../assets/curso/tema6/fondo.jpg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #ffffff !important

.color-blanca
  background-color: #FFFFFF
  border-radius: 20px

.fondo3
  background-image: url('../assets/curso/tema7/fondo.jpg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #ffffff !important

.fondo4
  background-image: url('../assets/curso/tema7/fondo.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #ffffff !important

.fondo4
  background-image: url('../assets/curso/tema7/fondo2.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #F9F7EC !important

.fondo5
  background-color: #F9F7EC !important

.fondo6
  background-image: url('../assets/curso/tema7/fondo3.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #F9F7EC !important

.fondo7
  background-image: url('../assets/curso/tema7/fondo4.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #F9F7EC !important

.fondo8
  background-image: url('../assets/curso/tema7/fondo5.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #F9F7EC !important

.fondo9
  background-image: url('../assets/curso/tema7/fondo6.svg')
  background-size: cover
  background-repeat: no-repeat
  border-radius: 0px
  @media (max-width: 1000px)
    background-image: none
    background-color: #F9F7EC !important

.blanca
  background-color: #ffffff !important
  border-radius: 20px

.color-gris
  background-color: #D5DEE8 !important

.color-naranja2
  background-color: #FEE6AB
  border-radius: 20px

.color-avatarb
  background-color: #EFE0E4 !important
  border-radius: 15px
  width: auto

.tarjeta-avatar-b__img 
  min-width: 15%
  max-width: 15%
  position: relative
  display: flex
  align-items: center

.tarjeta-avatar-b .tarjeta
  width: 100%
  margin-left: -10%
  padding-left: 8%
  height: auto
  @media (max-width: 1400px)
    height: auto

.rosa3
  background-color: #E2BFC8
  border-radius: 0px
  border-left: 12px solid #A3314F

.tarjeta-azul
  background-color: #F0F2D4